* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.mario-bros-logo {
    height: 200px;
}

.mario-luigi-logo {
    height: 500px;
}

.main-container {
    width: 35%;
}

.video-container {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
}

.root-container {
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 90vh;
}

.mascara {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0;
}

video {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}

body {
    height: 100%;
    width: 100%;
}

button {
    color: white;
    background-color: red;
    border-radius: 3px;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;
}

button:hover {
    opacity: 0.75;
    transition: 0.5s ease-in-out;
}

p {
    color: white;
    text-align: justify;
}

.whatsapp-logo {
    height: 50px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.header img {
    height: 50px;
}

nav {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 30px;
    margin-top: 15px;
    margin-left: 30px;
    height: 10%;

    a {
        text-decoration: none;
        color: white;
        font-weight: 500;
        font-size: 20px;
    }

    a:hover {
        color: red;
        font-size: 26px;
        transition: 0.5s ease-in-out;

    }
}

.fale-conosco {
    background-color: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 30%;
    left: -280px;
    padding: 20px;
    border-radius: 10px;
    gap: 20px;
    align-items: center;
    
    button {
        width: 100%;
    }
}

input {
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    width: 100%;
}

input:focus {
    outline: solid 2px red;
}

textarea {
    height: 150px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
}

textarea:focus {
    outline: solid 2px red;
}

.mascara-formulario {
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100vh;
    width: 100vw;
}